
// Body
$body-bg: #f8fafc;

// Typography
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
$font-size-base: 0.9rem;
$font-family-sans-serif: "Helvetica Neue",Helvetica,Arial,sans-serif;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #86B426;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-colors: (
  "primary": #3F6CB1,
);